@model NbaRosManagementTool.ViewModels.UserViewModel




<hr />
<div class="container">
    <div class="row">
        <div class="Absolute-Center less">
            <h1>Best Team Leaderboard</h1>
           <table class="table-bordered table-striped no-transparent">
                <tbody>
                    <tr>
                        <th>Team Name</th>
                        <th class="col-lg-3">User</th>
                        <th class="col-lg-4">Rating</th>
                    </tr>
                    @foreach (KeyValuePair<int, UserTeams> item in Model.bestTeams)
                    {

                        <tr>
                            <td>@item.Value.CityName</td>
                            <td>@item.Value.TeamName</td>
                            <td>@item.Key</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>