@model NbaRosManagementTool.ViewModels.InitialLoginViewModel
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;

@{
    //blank for now 
}

<h2>Create Team Name</h2>
<form asp-controller="InitialLogin" asp-action="Team" method="post">
    <div class="form-group">
        <label for="cityName">City Name</label>
        <input type="text" class="form-control" id="cityName"name="cityName">
    </div>
    <div class="form-group">
        <label for="teamName">Team Name</label>
        <input type="text" class="form-control" id="teamName"name="teamName">
    </div>
    <input type="submit" value="Submit Team">
    <input type="hidden"name="id"value="1" />
</form>



